body {
    min-height: 100vh;
    max-width: 100vw;
    min-height: 100vh;
    min-width: 100vw;
    background-color: #5F4B8B !important;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
}

.center {
    align-content: center;
}

.sofasProgressBar {
    position: relative;
    z-index: 0;
    background-color: #FA7268;
    border-radius: 0px 5px 5px 0px;
    padding-left: 10px;
    height: 3px;
}

.sofaCard {
    margin-top: 40vh;
}

.hasRightMargin {
    margin-right: 7px;
}

.cLivingCoral {
    color:#FA7268;
}

.cUltraViolet {
    color: #5F4B8B;
}

.bgcLivingCoral {
    background-color: #FA7268;
}

.bgUltraViolet {
    background-color: #5F4B8B;
}

.mainMenuButtons {
    position: relative;
    width: 20px;
    height: 20px;
    background-color: transparent;
    border-color: transparent;
    outline: none;
    margin-top: 10px;
    display: block;
}

#btnMainMenu {
    position: fixed;
    background: transparent !important;
    border: transparent !important;
    outline: none !important;
    width: 25px;
    height: 25px;
    top: 10px;
    left: 10px;
    padding-left: 20px;
    color: #fa7268;
}

#MainMenuContentWrapper {
    max-width: 50px !important;
    height: 85vh;
    background-color: #ffffff20;
    border-radius: 5px;
}

.ddmMainMenu {
    background-color: transparent !important;
    border-color: transparent !important;
    min-width: 52px !important;
    margin: 0px !important;
    z-index: 0 !important;
}