#btnSettings {
	position: fixed;
	top: 10px;
	left: 7px;
	border-radius: 3px;
	background-color: transparent;
	text-align: center;
	cursor: pointer;
} 

#formSettingsWrapper {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
    background-color: rgba(0, 0, 0, .4);
    display: none;
}

#formSettings {
	position: absolute;
	width: 400px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	padding: 40px;
	box-sizing: border-box;
	background-color: rgb(224, 102, 93);
    color: #fff;
    border-radius: 7px;
}

#formSettingsHeader {
    margin-left: 14px;
}

#btnSaveSettings {
    float: right;
}

#btnCloseSettings {
	position: absolute;
	top: 15px;
	right: 15px;
	width: 23px;
	height: 23px;
	cursor: pointer;
}

#btnCloseSettings:before {
	content: '';
	background-color: #fff;
	position: absolute;
	height: 1px;
	width: 31px;
	top: 11px;
	left: -4px;
	transform: rotate(-45deg);
}

#btnCloseSettings:after {
	content: '';
	background-color: #fff;
	position: absolute;
	height: 1px;
	width: 31px;
	top: 11px;
	transform: rotate(45deg);
	left: -4px;
}

@media screen and (max-width: 400px) {

	#formSettings {
        width: 80vw;
        max-width: 90vw;
        height: 90%;
        max-height: 95%;
        font-size: 15px;
        padding: 15px;
    }
}

.active {
    background-color: #ffffff !important;
    color: #FA7268 !important;
}

button.btn.btn-outline-light.dropdown-toggle.optionSelector::after {
    float: right;
    margin-top: 10px;
}

button.btn.btn-outline-light.dropdown-toggle.optionSelector {
    text-align: left;
    min-width: 200px;
    margin-bottom: 3px;
}